

<div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
    <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="student" class="student__img">
    </a>

    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{{ url_for('post.all') }}" class="nav-link px-2 text-white">На главную</a></li>
        <li><a href="{{ url_for('post.create') }}" class="nav-link px-2 text-white">Добавить тему</a></li>
    </ul>


    <div class="text-end">
        {% if current_user.is_authenticated %}
            <span class="text-white me-2 d-none d-lg-inline-block">Привет, {{ current_user.login }}</span>
            <a href="{{ url_for('user.logout') }}" class="btn btn-outline-light me-2">Выйти</a>
        {% else %}
            <a href="{{ url_for('user.login') }}" class="btn btn-outline-light me-2">Войти</a>
            <a href="{{ url_for('user.register') }}" class="btn btn-primary">Регистрация</a>
        {% endif %}
    </div>
</div>