{% extends 'main/base.html' %}
{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/blocks/table.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libs/font-awesome.min.css') }}">
{% endblock %}
{% block title %}Темы{% endblock %}


{% block content %}
    <div class="table-responsive custom-table-responsive">
    <table class="table custom-table">
        <thead>
        <tr>
            <th scope="col">Преподаватель</th>
            <th scope="col">Тема</th>
            <th scope="col">Студент</th>
            {% if current_user.is_authenticated %}
            <th scope="col">Действия</th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}

        <tr scope="row">
            <td>
                <img width="100px" height="100px" src="{{ url_for('static', filename='upload/'+post.author.avatar) }}" alt="avatar">
                {{ post.author.name }}</td>
            <td>{{ post.subject }}</td>
            <td>{{ post.student }}</td>
            {% if current_user.is_authenticated %}
        <td>
            <a href="{{ url_for('post.update', id=post.id) }}" class="btn btn-primary"><span class="fa fa-edit"></span></a>
            <a href="{{ url_for('post.delete', id=post.id) }}" class="btn btn-danger"><span class="fa fa-trash"></span></a>
        </td>
        {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}