{% extends 'main/base.html' %}
{% block title %}Добавление темы{% endblock %}


{% block content %}
    <form method="post" class="form-control d-flex flex-column gap-2">
        <input name="teacher" type="text" placeholder="ФИО преподавателя" class="form-control">
        <input name="subject" type="text" placeholder="Название темы" class="form-control">
        <input name="student" type="text" placeholder="студент" class="form-control">
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}

