@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf');
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf');
}

 FONTS FontAwesome
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fa-brands-400.ttf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fa-brands-400.woff2');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fa-regular-400.ttf');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fa-regular-400.woff2');
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fa-solid-900.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fa-solid-900.woff2');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fa-v4compatibility.ttf');
}
@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/fa-v4compatibility.woff2');
}